/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;

    color: var(--font-color);
}

:root {

    --sb-btn-font-clr: grey;
    --sb-btn-font-focus: black;
    --sb-bg-clr: rgb(239, 239, 239);
}
.logo {
    text-transform: uppercase;
}

body {
    display: flex;
}

.sidebar-btns {
    display: flex;
    flex-direction: column;
}


/* SIDE BAR */
.sidebar {
    background-color: var(--sb-bg-clr);
}

.sb-btn {
    border: none;
    /* margin: 6px 0px; */
    padding: 6px;

    font-weight: bold;
    text-align: left;
    color: var(--sb-btn-font-clr);
}

.sb-btn:hover {
    color: var(--sb-btn-font-focus);
}









/* task input */
.input-container {
    border: 1px solid red;
}

.input-container {
    display: flex;
}

.btns-input-container {
    display: flex;
}

.btns-add-container {
    display: flex;
    flex-direction: column-reverse;
}
.btn-input-container {
    display: flex;
    box-sizing: content-box;
}

/* TASK CARD */
.task-container {
    border: 1px solid red;
    display: flex;
}