/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;

    color: var(--font-color);
}
.logo {
    text-transform: uppercase;
}

body {
    display: flex;
}

.sidebar-btns {
    display: flex;
    flex-direction: column;
}

/* task input */
.input-container {
    border: 1px solid red;
}

.input-container {
    display: flex;
}

.btns-input-container {
    display: flex;
}

.btns-add-container {
    display: flex;
    flex-direction: column-reverse;
}
.btn-input-container {
    display: flex;
    box-sizing: content-box;
}

/* TASK CARD */
.task-container {
    border: 1px solid red;
    display: flex;
}