/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;

    color: var(--font-color);
}

:root {

    /* sidebar */
    --sb-btn-font-clr: grey;
    --sb-btn-font-focus: black;

    /* sidebar background */
    --sb-bg-clr: rgb(239, 239, 239);
    --sb-bg-clr-focus: rgb(170, 169, 169);

    /* input */
    --submit-btn-clr: lime;
    --cancel-btn-clr: red;
}

.logo {
    text-transform: uppercase;
    font-size: 18px;
    margin: 12px 0px 36px 6px
}

body {
    display: flex;
}



/* SIDE BAR */
.sidebar-btns {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: var(--sb-bg-clr);
    width: 150px;
    height: 100vh;
    /* position: relative; */
    padding-left: 12px;

    box-sizing: border-box;
}

.sb-btn {
    border: none;
    padding: 6px;

    /* font-weight: bold; */
    text-align: left;
    color: var(--sb-btn-font-clr);

    font-size: 16px
}

.sb-btn:hover {
    color: var(--sb-btn-font-focus);
    background-color: var(--sb-bg-clr-focus);
    font-weight: bold;
}




/* PROJECT CONTAINER */

.projects-container {
    margin-left: 24px;
    /* border: 1px solid red; */
}

.projects-container button {
    /* padding: 3px 3px; */
    border: none;
}

.pj-name-input {
    width: 114px;
    border: none;
    padding: 6px;
    border-radius: 6px 0px 0px 6px;
}

.new-pj-container {
    /* gap: 0.5em; */
    display: flex;
    flex-direction: column;
}

/* new project input buttons */
.new-pj-container button {
    margin-top: 6px;
    padding: 3px;
    text-transform: capitalize;

    /* border: 1px solid black; */
    border-radius: 6px;

    font-weight: bold;
}
.new-pj-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.pj-cancel-input {
    background-color: var(--cancel-btn-clr);
}

.pj-confirm-input {
    background-color: var(--submit-btn-clr);
}




.project-cnt {
    display: flex;
    justify-content: space-between;
    /* background-color: transparent; */
    margin: 3px 0px;
    /* border: 1px solid green; */
}

.pj-nav-container {
    margin-top: 16px;
}

.project-nav {
    width: 100%;
}

.project-btn,
.new-pj-btn {
    background-color: transparent;
    width: 100%;
    max-width: 150px;
    text-align: left;
    overflow:hidden;

    padding: 3px 0px;
    text-align: left;
    color: var(--sb-btn-font-clr);
}
/* Hover project nav*/

.project-cnt:hover {
    background-color: var(--sb-bg-clr-focus);
    
}

.project-btn:hover{
    font-weight: bold;
    color: var(--sb-btn-font-focus);
}




/* New project button */
.new-pj-btn {
    font-weight: bold;
}

.new-pj-btn:hover {
    background-color: var(--sb-bg-clr-focus);
    color: var(--sb-btn-font-focus);
    font-weight: bold;
}

.delete-project {
    padding: 0px 8px;
    background-color: transparent;
}





/* CONTENT HEADER */

.content-header {
    margin: 12px 0px 36px 0px;
    font-size: 18px;
}

/* ADD TASK BUTTON */
#new-task-btn {

    background-color: transparent;
    padding: 12px 36px 12px 0px;
    border: none;
    margin-top: 12px;
    width: 200px;
    
    font-weight: bold;
    font-size: 20px;
    text-align: left;

    color: var(--sb-bg-clr-focus);
}

#new-task-btn:hover {
    color: var(--sb-btn-font-focus);
}





/* TASK INPUT */
.input-container,
.edit-input-container {
    border: 2px solid var(--sb-bg-clr);
    border-radius: 8px ;
    padding: 16px;

    display: flex;
    justify-content: space-between;
}

.input-container,
.btns-input-container {
    display: flex;
}

.content {
    margin-left: 24px;
}

.btns-add-container {
    display: flex;
    flex-direction: column-reverse;
}
.btn-input-container {
    display: flex;
    box-sizing: content-box;
}




/* TASK CARD */
.tasks-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70vw;
}

.task-container {
    /* border: 1px solid red; */
    border-bottom: 2px solid var(--sb-bg-clr);
    padding-bottom: 12px;
}

.card-elements-cont {
    display: grid;    
    grid-template-columns: 50px auto 100px;
    align-items: center;
}

/* Task name | Task description */
.task-details-1 {
    display: flex;
    flex-flow: column;
    /* border: 1px solid red; */
}

.task-details-1 .title,
.task-details-1 .desc {
    white-space: normal;
    overflow: break-word;
    /* overflow-wrap: anywhere; */
}

.task-details-1 .title {
    font-size: 20px;
}
.task-details-1 .desc {
    font-size: 16px;
}


/* Due date | Priority | Project tag */
.task-details-2 {
    display: flex;
    gap: 1rem;
}

/* Task button */
.task-chbx {
    border: 2px solid var(--sb-bg-clr-focus);
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--font-color);
}

.task-chbx:hover {
    border-color: var(--submit-btn-clr);
}



/* ADD TASK INPUT CONTAINER */

/* title, details container */
.text-input-container {
    display: flex;
    flex-direction: column;
}

.title-input,
.title-edit {
    font-size: 20px;
    font-weight: bold;

    border: none;
    margin-bottom: 6px;
}

.desc-input,
.desc-edit {
    height: 80px;
    border: none;

    width: 250px;
    height: 80px;

    resize: none;
    margin-bottom: 12px;
}

/* Buttons input container */
.btns-input-container.left {
    display: flex;
    gap: 12px;
}

.date-input, .prio-input, .tag-input,
.date-edit, .prio-edit, .tag-edit {
    border: none;
}

/* Input buttons */
.btn-input-container .cancel-btn,
.btn-input-container .add-task-btn,
.btn-input-container .confirm-btn {
    padding: 6px 12px;
    margin-right: 12px;
    
    border: none;
    border-radius: 6px;

    font-weight: bold;
}

/* add/confirm btn */
.btn-input-container .add-task-btn,
.btn-input-container .confirm-btn {
    background-color: var(--submit-btn-clr);
}

.edit-task,
.remove-task {
    width: 18px;
    background-color: transparent;
    /* outline: 1px solid red; */
    border: none;
    /* padding: ; */
    margin-right: 12px;
    fill: grey;
}

.edit-task:hover,
.remove-task:hover {
    fill: black;
}